@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}

/* custom background */
.bg-primary{
  @apply  bg-gradient-to-r from-[#FFE6FD] to-[#E0F8F5]
}


/* custom button override */
.btn-primary{
  @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] border-none text-white
}
.btn-primary:hover{
  @apply opacity-90
}
.btn-secondary{
  @apply bg-transparent border-1 text-[#632EE3] border-[#632EE3]
}
.btn-secondary:hover{
  @apply opacity-90
}